body{
    background: #D8D8D8;
}

/* Selector universal */
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

/* Selector de Etiqueta */
h1{
    background: cadetblue;
    color:white
}

/* Selector de id o identificadores */
#descripcion {
    background: cornflowerblue;
}

/* Selector de Clase */


/* Selector de Atributo */


/* Selectores hijo */

/* Selectores */

